body {
    font-family: Tahoma, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

gambar-berita {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}

nav {
    background-color: #1f287b;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1, h2 {
    color: #1f287b;
}

footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 10px;
}
